<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beer-List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
</head>
<body>
<th:block th:include="fragments/header :: header"/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${beers.empty}">
                    <td colspan="2">No Beers Available</td>
                </tr>
                <tr th:each="beer : ${beers}">
                    <th scope="row"><span th:text="${beer.getId()}">Id</span></th>
                    <th><span th:text="${beer.getName()}">Name</span></th>
                    <th><span th:text="${beer.getDescription()}">Description</span></th>
                    <th>
                        <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                        <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>