<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <title>Registration</title>
</head>

<body>
<th:block th:include="fragments/header :: header"/>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered to our awesome app!</div>
            </div>

            <h1>Registration</h1>
            <form method="post" th:action="@{/registration}" th:object="${user}">

                <div class="form-group">
                    <label class="control-label" for="firstName">First name</label>
                    <input class="form-control"
                           id="firstName"
                           th:field="*{firstName}"/>
                    <span class="error text-danger"
                          th:errors="*{firstName}"
                          th:if="${#fields.hasErrors('firstName')}"> First name Error </span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Last name</label>
                    <input class="form-control"
                           id="lastName"
                           th:field="*{lastName}"/>
                    <span class="error text-danger"
                          th:errors="*{lastName}"
                          th:if="${#fields.hasErrors('lastName')}"> Last name Error </span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input class="form-control"
                           id="email"
                           th:field="*{email}"/>
                    <span class="error text-danger"
                          th:errors="*{email}"
                          th:if="${#fields.hasErrors('email')}"> Email Error </span>
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input class="form-control"
                           id="password"
                           th:field="*{password}"
                           type="password"/>
                    <span class="error text-danger"
                          th:errors="*{password}"
                          th:if="${#fields.hasErrors('password')}"> Password Error </span>
                </div>

                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirm password</label>
                    <input class="form-control"
                           id="confirmPassword"
                           th:field="*{confirmPassword}"
                           type="password"/>
                    <span class="error text-danger"
                          th:errors="*{confirmPassword}"
                          th:if="${#fields.hasErrors('confirmPassword')}"> Confirm Password Error </span>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>